<!DOCTYPE html>

<html>
<head>
    <title>Xuimovie</title>
    <%= include_gon %><%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %><%= csrf_meta_tags %>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel=
    'stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cinzel+Decorative:900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container" id="wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner navbar-fixed-top">
                <div class="container">
                    <div class="brand">Xui Movies</div>

                    <ul class="nav pull-right">
                        <% if logged_in? %>

                        <li>
                        <%= link_to "Log Out", logout_path %></li><% else %>

                        <li><%= link_to "Log In", login_path %></li><% end %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container" id="application-content">
            <img style="height: 30px; margin: 20px auto; display: block" src='/assets/ajax-loader.gif'/>
        </div>
    

    <footer>
        <p>© Copyleft Xui 2013</p>
    </footer>
    </div>
</body>
</html>